{% if section.settings.enable %}
{% style %}
@font-face{
  font-family:SnellBT-Regular;
  src:url(https://cdn.shopify.com/s/files/1/0047/5352/2778/files/SnellBT-Regular.otf?v=1660552139);
  font-style:normal
}
@font-face{
  font-family:SnellBT-Bold;
  src:url(https://cdn.shopify.com/s/files/1/0047/5352/2778/files/SnellBT-Bold.otf?v=1660552139);
  font-style:normal
}
@font-face{
  font-family:SnellRoundhand-Black;
  src:url(https://cdn.shopify.com/s/files/1/0047/5352/2778/files/SnellRoundhand-BlackScript.otf?v=1660552139);
  font-style:normal
}
@font-face{
  font-family:SnellRoundhand-Bold;
  src:url(https://cdn.shopify.com/s/files/1/0047/5352/2778/files/SnellRoundhand-BoldScript.otf?v=1660552140);
  font-style:normal
}
.modal-confirm {
    width: fit-content;
    background: #7b7867;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #56545e;
}
.modal-cancel {
    margin-top: 15px !important;
    cursor: pointer;
    text-decoration: underline;
}
.wrap-dropdown-modal {
    width: 100%;
    max-width: 395px;
    margin: 0 auto;
    margin-top: 33px;
    position: relative;
}
.modal-content-dropdown-child {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #5F5F5F;
    border-top: 0px;
    text-align: -webkit-auto;
    cursor: pointer;    
}
.modal-cancel {
    width: fit-content;
}
.modal-content-dropdown-child.active {
    display: block;
}
.modal-content-dropdown-child>div {
    padding: 6px 10px;
    border-top: 1px solid #5F5F5F;
    max-height: 40px !important;
}
.modal-content-dropdown-child>div:first-child {
    border-top: 0px solid #5F5F5F;
}
.modal-content-dropdown-parent {
    border: 1px solid #5F5F5F;
    text-align: -webkit-auto;
    padding: 14px 10px;
    cursor: pointer;
    position: relative;
}
.data-href.attr-href {
    background: #ababad;
}  
.inner-modal-content {
    margin-top: 8px;
}
.settings-label {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    text-align: left;
}
.modal-arrow {
    background-color: transparent;
    border-top: 8px solid #7b7867;
    border-color: #7b7867 transparent transparent;
    border-style: solid;
    border-width: 13px 10px;
    height: auto;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    z-index: 2;
    right: 12px;
    top: 40%;
}
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window-target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > .open-modal-inner {
  width: 100%;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 16px;
  background: white;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.3;
    border-radius: 0px !important;
}
.open-modal-inner {
    filter: drop-shadow(0 5px 5px #5F5F5F);
}
.open-modal-wrap * {
    color: #5F5F5F;
}
.modal-dropdown-inner img {
    width: 35px;
    height: 25px;
    position: relative;
    top: 0;
    object-fit: cover;
    margin-right: 5px;
}
.modal-heading {
    padding-top: 32px;
    font-family: SnellBT-Regular;
    font-weight: bold;
    {%  if section.settings.heading_font != 'none' %}
    font-family: {{section.settings.heading_font}};
    {%  endif %}
}
.modal-sub-heading {
     {%  if section.settings.sub_heading_font != 'none' %}
    font-family: {{section.settings.sub_heading_font}};
    {%  endif %} 
}
svg.icon.icon-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.modal-content-dropdown-child {
    max-height: 258px;
    overflow: scroll;
    overflow-x: hidden;
}  
.modal-dropdown-inner {
    display: flex;
}
#open-modal { display:none; }
#open-modal.modal-window-target { display: block !important; }
@media only screen and (max-width: 600px) {
  .modal-window > .open-modal-inner {
      max-width: 100%;
  }
  .modal-window > .open-modal-inner {
      width: 100%;
      max-width: 550px;
      position: absolute;
      top: auto;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px 16px;
      background: white;
      bottom: 0;
      left: auto;
      transform: unset;
  }  
  .modal-heading {
      padding-top: 0px;
      font-size: 30px !important;
  }  
  .wrap-dropdown-modal {
      width: 100%;
      max-width: 395px;
      margin: 0 auto;
      margin-top: 20px;
      position: relative;
  } 
  .modal-content-dropdown-parent {
      border: 1px solid #70706E;
      text-align: -webkit-auto;
      padding: 10px 10px;
      cursor: pointer;
      position: relative;
  }
  .modal-confirm {
    width: fit-content;
    background: #7b7867;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #56545e;
  }  
  .modal-arrow {
      background-color: transparent;
      border-top: 8px solid #7b7867;
      border-color: #7b7867 transparent transparent;
      border-style: solid;
      border-width: 8px 7px;
      height: auto;
      position: absolute;
      transform: translateX(-50%);
      width: 0;
      z-index: 2;
      right: 12px;
      top: 39%;
  } 
  .modal-content-dropdown-child.active {
      display: block;
      bottom: 100%;
  }
}
{% endstyle %}  
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
<div id="open-modal" class="modal-window">
  <div class="modal-background"></div>
  <div class="open-modal-inner">
    <center>
      <div class="open-modal-wrap">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>  
        <div class="modal-heading" style="font-size: {{ section.settings.heading_size }}px; color: {{ section.settings.heading_color }};">{{ section.settings.heading }}</div>
        <div class="modal-sub-heading" style="font-size: {{ section.settings.sub_heading_size }}px; color: {{ section.settings.sub_heading_color }};">{{ section.settings.sub_heading }}</div>
        <div class="wrap-modal-content">
          <div class="inner-modal-content">
            <div class="settings-label" style="font-size: {{ section.settings.label_size }}px;">{{ section.settings.label }}</div>

            <div class="wrap-dropdown-modal">
              <div class="modal-content-dropdown modal-content-dropdown-parent">
              {% for block in section.blocks %}
                {% if forloop.index == 1 %}
                <div class="zgcustom" data-href="{{ block.settings.link_lang }}">
                  <div class="modal-dropdown-inner"  data-href="https://livlyclothing.se/" data-code="{{ block.settings.country_code  }}" data-src="//cdn.shopify.com/s/files/1/0464/1249/7062/files/Sverige_50x50.png?v=1659423985">
                  {% if block.settings.image_lang %}<img srcset="{{ block.settings.image_lang | img_url: '50x50' }}">{% endif %}
                  {{ block.settings.title }}
                  </div>
                  <div class="modal-arrow"></div>
                </div>
                {% endif %}
              {% endfor %}  
              </div>
    
              <div class="modal-content-dropdown modal-content-dropdown-child">
              {% for block in section.blocks %}
                {% if forloop.index != 0 %}
                <div class="data-href country_code_id_{{ block.settings.country_code }} " data-code="{{ block.settings.country_code  }}" data-href="{{ block.settings.link_lang }}">
                  <div class="modal-dropdown-inner">
                  {% if block.settings.image_lang %}<img srcset="{{ block.settings.image_lang | img_url: '50x50' }}">{% endif %}
                  {{ block.settings.title }}
                  </div>
                </div>
                {% endif %}
              {% endfor %}
              </div>
            </div>

            {% if section.settings.button_confirm != blank %}
            <div class="modal-confirm" style="font-size: {{ section.settings.button_size }}px; color: {{ section.settings.button_color }}; background-color: {{ section.settings.button_color_bg }};">{{ section.settings.button_confirm }}</div>
            {% endif %}

            {% if section.settings.button_cancel != blank %}
            <div class="modal-cancel" style="font-size: {{ section.settings.button_cancel_size }}px; color: {{ section.settings.button_cancel_color }};">{{ section.settings.button_cancel }}</div>
            {% endif %} 
  
          </div>
        </div>
      </div>
    </center>
  </div>
</div>
<script>
function createCookie(name, value, days) {
  var expires;
  if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toGMTString();
  } else {
      expires = "";
  }
  document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
}

function readCookie(name) {
  var nameEQ = encodeURIComponent(name) + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) === ' ')
          c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) === 0)
          return decodeURIComponent(c.substring(nameEQ.length, c.length));
  }
  return null;
}

function eraseCookie(name) {
  createCookie(name, "", -1);
}

$(document).ready(function(){
  
  var queryString = window.location.search;
  var urlParams = new URLSearchParams(queryString);
  var codeGl = urlParams.get('gl');
  
  if(readCookie("countrymodal") == "true" || readCookie("countrysrc") || codeGl){
    $('#open-modal').hide();
  } else {
    setTimeout(function(){
      $('#open-modal').addClass('modal-window-target');
    }, {{section.settings.time_show_modal}}000);
  }

  if (codeGl) {
    const text = $(".header-toolbar .cls-country-code-"+codeGl).text();
    const src = $(".header-toolbar .cls-country-code-"+codeGl).find("img").attr("srcset");
    createCookie("countrytext", text, 100);
    createCookie("countrysrc", src, 100);     
  }
  
  $('.modal-dropdown-inner-data').click(function(){
    var href = $(this).attr('href');
    var text = $(this).text();
    var src = $(this).find('img').attr('srcset');
    var code = $(this).attr('country-code');
  
    setTimeout(function(){
      window.location.href = href+"?gl="+code.toLowerCase().replace(/ /g,'-');  
    }, 800);    
    return false;
  });  
  
  $(".modal-content-dropdown-parent").click(function(){
    if ($('.modal-content-dropdown-child').hasClass('active')) {
      $('.modal-content-dropdown-child').removeClass('active');
    } else {
      $('.modal-content-dropdown-child').addClass('active');  
    }
  });

  $('.data-href').click(function(){
    $('.data-href').removeClass('attr-href');
    $(this).addClass('attr-href');
    $('.modal-content-dropdown-parent .modal-dropdown-inner').html($(this).find('.modal-dropdown-inner').html());
    $('.modal-content-dropdown-parent .modal-dropdown-inner').attr('data-href',$(this).attr('data-href'));
    $('.modal-content-dropdown-parent .modal-dropdown-inner').attr('data-code',$(this).attr('data-code'));
    $('.modal-content-dropdown-parent .modal-dropdown-inner').attr('data-src',$(this).find('img').attr('srcset'));
    $('.modal-content-dropdown-child').removeClass('active');
  });

  $('.modal-confirm').click(function(){
    createCookie("countrymodal", "true", 100);
    createCookie("countryhref", $('.modal-content-dropdown-parent .modal-dropdown-inner').attr('data-href'), 100);
    createCookie("countrytext", $('.modal-content-dropdown-parent .modal-dropdown-inner').text(), 100);
    createCookie("countrysrc",  $('.modal-content-dropdown-parent .modal-dropdown-inner').attr('data-src'), 100);    
    const code = $('.modal-content-dropdown-parent .modal-dropdown-inner').attr('data-code');
    setTimeout(function(){
      window.location.href = $('.modal-content-dropdown-parent .modal-dropdown-inner').attr('data-href')+"?gl="+code.toLowerCase().replace(/ /g,'-');    
    }, 800);
    
  });

  $('.modal-cancel, .open-modal-wrap .icon-close').click(function(){
    createCookie("countrymodal", "true", 100);
    $('#open-modal').removeClass('modal-window-target');
  });


    {% assign ipstack_key = section.settings.ipstack_apikey | default: '5e199d445a49e30433f9a49a6bd7ce62' %}
    var apiUrlReq = 'https://api.ipstack.com/check?access_key={{ ipstack_key }}';
    $.get(apiUrlReq, function(response) {
      console.log('response', response)
      var country_code = response.country_code;
      $('.country_code_id_'+country_code).addClass('attr-href');
      $('.country_code_id_'+country_code).trigger('click');
    });
  


  
});  
</script>

{% endif %}
{% schema %}
  {
    "name": "Choose country",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable choose contry",
        "default": false
      },    
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color"
      },    
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },    
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Heading size",
        "default": 25,
        "min": 15,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "heading_font",
        "label": "Heading font",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },          
          {
            "value": "SnellBT-Regular",
            "label": "SnellBT-Regular"
          },
          {
            "value": "SnellBT-Bold",
            "label": "SnellBT-Bold"
          },
          {
            "value": "SnellRoundhand-Black",
            "label": "SnellRoundhand-Black"
          },
          {
            "value": "SnellRoundhand-Bold",
            "label": "SnellRoundhand-Bold"
          }
        ]
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub heading"
      },    
      {
        "type": "color",
        "id": "sub_heading_color",
        "label": "Sub heading color"
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "label": "Sub heading size",
        "default": 15,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "sub_heading_font",
        "label": "Sub heading font",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none"
          },          
          {
            "value": "SnellBT-Regular",
            "label": "SnellBT-Regular"
          },
          {
            "value": "SnellBT-Bold",
            "label": "SnellBT-Bold"
          },
          {
            "value": "SnellRoundhand-Black",
            "label": "SnellRoundhand-Black"
          },
          {
            "value": "SnellRoundhand-Bold",
            "label": "SnellRoundhand-Bold"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_confirm",
        "label": "Button confirm"
      },    
      {
        "type": "color",
        "id": "button_color",
        "label": "Button color"
      },    
      {
        "type": "color",
        "id": "button_color_bg",
        "label": "Button color background"
      },
      {
        "type": "range",
        "id": "button_size",
        "label": "Button size",
        "default": 25,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "button_cancel",
        "label": "Button cancel"
      },    
      {
        "type": "color",
        "id": "button_cancel_color",
        "label": "Button cancel color"
      },
      {
        "type": "range",
        "id": "button_cancel_size",
        "label": "Button cancel size",
        "default": 25,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "time_show_modal",
        "label": "Time show modal",
        "default": 1,
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "s"
      },
      {
        "type": "text",
        "id": "ipstack_apikey",
        "label": "Ipstack apikey"
      }    
    ],
    "blocks" : [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Text language"
          },
          {
            "type": "text",
            "id": "link_lang",
            "label": "Link language"
          },
          {
            "type": "image_picker",
            "id": "image_lang",
            "label": "Image language"
          },
          {
            "type": "text",
            "id": "country_code",
            "label": "Country code"
          }
        ]
      }
    ]
  }
{% endschema %}
 
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}