{%- assign per_row = section.settings.per_row -%}
{%- assign product_limit = per_row | times: section.settings.rows -%}
{%- assign collection = collections[section.settings.home_featured_products] -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div
  id="CollectionSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template">
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header">
        <h3 class="section-header__title">
          {{ section.settings.title }}
        </h3>
        {%- if section.settings.paragraph -%}
          <p class="rte section-header__rte">
            {{ section.settings.paragraph }}
          </p>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="page-width">
    <div class="collection-wrapper">
      <div class="grid grid--uniform{% if section.settings.display_mode == "slider" %} collection-slider{% endif %}" {% if section.settings.display_mode == "slider" %}data-per-row="{{ section.settings.per_row }}"{% endif %}>
        {%- liquid
          assign grid_item_width = 'small--one-half medium-up--one-third'

          case per_row
            when 1
              assign grid_item_width = ''
            when 2
              assign grid_item_width = 'medium-up--one-half'
            when 3
              assign grid_item_width = 'small--one-half medium-up--one-third'
            when 4
              assign grid_item_width = 'small--one-half medium-up--one-quarter'
            when 5
              assign grid_item_width = 'small--one-half medium-up--one-fifth'
          endcase
        -%}

        {%- if section.settings.home_featured_products == blank or collections[section.settings.home_featured_products].empty? or collections[section.settings.home_featured_products].products_count == 0 -%}

          {%- unless emptyState -%}
            {%- assign emptyState = true -%}
          {%- endunless -%}

          <div class="grid__item">
            <div class="grid grid--uniform">
              {%- for i in (1..product_limit) -%}
                <div class="grid__item grid-product{% if section.settings.display_mode == "grid" %} {{ grid_item_width }}{% endif %}" {% if section.settings.display_mode == "grid" %}data-aos="row-of-{{ per_row }}"{% endif %}>
                  <div class="grid-product__content">
                    <a href="{{ product.url | within: collection }}" class="grid-product__link{% if sold_out %} grid-product__link--disabled{% endif %}">
                      <div class="grid-product__image-mask">
                        {%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                        <div class="image-wrap">{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
                      </div>
                      <div class="grid-product__meta">
                        <div class="grid-product__title">{{ 'home_page.onboarding.product_title' | t }}</div>
                        <div class="grid-product__price">$29</div>
                      </div>
                    </a>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>

        {%- else -%}

          {%- for product in collections[section.settings.home_featured_products].products limit: product_limit -%}
            {%- if section.settings.display_mode == "grid" -%}
              {%- render 'product-grid-item', product: product, grid_item_width: grid_item_width -%}
            {%- else -%}
              {%- render 'product-grid-item', product: product, collection_slider: true -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if section.settings.view_all -%}
            {%- if section.settings.rows > 1 -%}
              <div class="grid__item text-center">
                <a href="{{ collections[section.settings.home_featured_products].url }}" class="btn">{{ 'collections.general.all_of_collection' | t }}</a>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
    {%- if section.settings.view_all and section.settings.rows == 1 -%}
      <div style="display: flex; justify-content: center; align-items: center;">
        <a href="{{ collections[section.settings.home_featured_products].url }}" class="btn btn--secondary btn--small section-header__link">{{ 'collections.general.all_of_collection' | t }}</a>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if settings.quick_shop_enable -%}
  {%- for product in collections[section.settings.home_featured_products].products limit: product_limit -%}
    {%- render 'quick-shop-modal', product: product -%}
  {%- endfor -%}
{%- endif -%}

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "collection",
        "id": "home_featured_products",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "per_row",
        "label": "Products per row",
        "default": 4,
        "min": 1,
        "max": 5,
        "step": 1,
        "info": "Visible products per row."
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows of products",
        "default": 1,
        "min": 1,
        "max": 5,
        "step": 1,
        "info": "On slider increases total number of products instead: products per row * rows of products"
      },
      {
        "type": "select",
        "id": "display_mode",
        "label": "Display as",
        "default": "grid",
        "options": [
          { "value": "grid", "label": "Grid layout"},
          { "value": "slider", "label": "Product slider"}
        ]
      },
      {
        "type": "checkbox",
        "id": "view_all",
        "label": "Show 'View all' link",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "Featured collection",
      "category": "Collection"
    }],
    "blocks" : []
  }
{% endschema %}
